body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    color:gold
}

#map {
    height: 75vh;
}

#navigate-button {
    border: none;
    width: 60%;
    padding: 1em;
    background-color: rgb(248, 198, 0);
    color: rgb(255, 0, 0);
    border-radius: 1em;
}

.container {
    margin-top: 1em;
    border: 3px solid rgb(255, 0, 0);

}
